.brand {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  text-decoration: none;
  font-family: var(--display);
}

.brand__fig {
  display: block;
  width: 2.5rem;
  margin: 0;
}

.brand__icon {
  display: block;
  width: 100%;
  margin: 0;
}

.brand__name {
  margin: 0;
  font-size: 1.5rem;
  color: var(--gray-800);
  line-height: 1.5;
  font-weight: 400;
}
