@import '../abstract/mixins';

.mobile-navbar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: calc(-100vh + var(--header-height));
  top: var(--header-height);
  background-color: rgba($color: #000000, $alpha: 0.3);
  transform: translateX(-100%);
  transition-property: transform;
  transition-duration: 300ms;
  z-index: var(--z-fixed);

  @include md() {
    display: none;
  }
}

.mobile-navbar.show {
  transform: translateX(0);
}

.mobile-navbar__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-navbar__list__item {
  border-bottom: 2px solid var(--light);
}

.mobile-navbar__list__item:last-child {
  border-bottom: transparent;
}

.mobile-navbar__link {
  display: block;
  padding: 1rem 0.5rem;
  text-decoration: none;
  color: var(--light);
  background-color: rgba($color: #212529, $alpha: 0.8);
  outline: none;
  font-weight: 700;
}

.mobile-navbar__link:active {
  background-color: var(--light);
  color: var(--dark);
}
